# Server configuration.
LISTEN_ADDR=":3333"
ENV="development" # or "production"
BASE_URL="http://localhost:3333"

# Database configuration.
DATABASE_URI="postgres://user:password@db:5432/my_db"
REDIS_URL="redis://default:password@localhost:6379"

# AWS configuration.
S3_BUCKET=""
COGNITO_CLIENT_ID=""

# OAuth configuration. They are optional, but to use them you need to set at least one of them.
OAUTH_GOOGLE_CLIENT_ID=""
OAUTH_GOOGLE_CLIENT_SECRET=""
OAUTH_GITHUB_CLIENT_ID=""
OAUTH_GITHUB_CLIENT_SECRET=""
OAUTH_DISCORD_CLIENT_ID=""
OAUTH_DISCORD_CLIENT_SECRET=""
OAUTH_REDIRECT_URI_BASE="/oauth/callback" # Used for all OAuth providers. i.e: "/oauth/callback/google", "/oauth/callback/github", etc.

# Payments configuration.
STRIPE_API_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_DEVICE_NAME=""

# Notifications configuration.
NOTIFICATIONS_DISCORD_CHANNEL_ID=""
NOTIFICATIONS_DISCORD_BOT_TOKEN=""